<!--Section: Candidate Number -->
<div>
    <div>
        Candidate 1001
    </div>
    <div>
        21 years old
        <!-- Add Q(1-5): How important is jobseeker's Date of Birth before you call him/her for interview? -->
    </div>
    <div>
        I am an aspiring Accountant
    </div>
    <div>
        <!-- Add random passport photo of a guy with blurred face at top left or top right -->
        <!-- Add Q(1-5): How important is jobseeker's photo before you call him/her for interview? -->
    </div>
</div>
<!-- Notes to developer:
1.Must be centre and at the top
2.Must be big and clear
3.Highlight "Accountant" -->

<!--Section: Personal Details -->
<div>
    <h1>Personal Details</h1>
    <div>
        <div>
            Contact Details:
            <div>Current Address: (Unlock to see info)</div>
            <div>017-xxxxxxx (Unlock to see info)</div>
            <div>xxxxxxx@gmail.com (Unlock to see info)</div>
        </div>
        <div>
            Social Media Profiles (Unlock to see profiles):
            <div>
                <!-- Add Facebook Icon with URL targetting blank -->
            </div>
            <div>
                <!-- Add Twitter Icon with URL targetting blank -->
            </div>
            <div>
                <!-- Add Linkedin Icon with URL targetting blank -->
            </div>
        </div>
        <div>
            Fresh graduate with clear interest in Accounting & Finance. Beyond academic qualifications, I also practised my knowledge
            in real life scenario through internships and student activities.
            <!-- Must be centre and text to be bold/bigger/clearer than any other text in the sections -->
        </div>
    </div>
    <!-- Q(1-5): Which of these information are not necessary before you shortlist them for interview.
	Radio Button:
	Current Address
	Mobile number
	Email address
	Facebook Profile
	Twitter Profile
	Linkedin Profile
	Executive Summary Paragraph
	Everything is necessary -->
</div>

<!--Section: Academic Details -->
<div>
    <h1>Academic Details</h1>
    <div>
        <div>
            <div>Bachelor of Accounting</div>
            <div>University Malaya</div>
            <div>Kuala Lumpur</div>
            <div>Start Year: July 2016</div>
            <!-- Q(1-5):How important is this data when you are shortlisting for interview? -->
            <div>Expected Graduation Date: August 2019</div>
            <!-- Q(1-5):How important is this data when you are shortlisting for interview? -->
        </div>
        <div>
            Best Papers:
            <div>
                <div>Cash Flow Management</div>
                <div>Taxation</div>
                <div>Financial Modelling</div>
            </div>
            <!-- Q(1-5):How important are Best Papers when you are shortlisting for interview? -->
            <!-- Q(1-5):How important is the score for each Best Papers when you are shortlisting for interview? -->
        </div>
        <div>
            <div>Latest CGPA: 3.20</div>
            <div>Expected CGPA: 3.50</div>
        </div>
    </div>
    <!-- Q(Open): Is there any other Academic information you require when you are shortlisting for interview? (Open field) -->
</div>


<!--Section: Working Experience -->
<div>
    <h1>Work Readiness</h1>
    <div>
        <div>
            <div>
                PricewaterhouseCoopers (PwC) #boldthis
                <div>One of the big four audit, assurance, consulting & tax firms globally</div>
                <!--Smaller font in relative to previous and proceeding Div -->
                <div>Kuala Lumpur
                    <!-- Q(1-5): How important is state of company when you are shortlisting for interview? -->
                </div>
            </div>
            <div>
                <div>Intern</div>
                <div>Department: Assurance
                    <!-- Q(1-5): How important is department when you are shortlisting for interview? -->
                </div>
                <div>June 2018 - September 2018</div>
            </div>
            <div>
                <div>
                    Key Learnings:
                    <div>
                        <div>1.I learned about the application of my academic study into real world situation, especially in big
                            audit engagement.</div>
                        <div>2.As this is my first time working in a big company, I learned to follow the organised structure
                            as an intern.</div>
                    </div>
                    <!-- Q(1-5)How important are Key Learninggs when you are shortlisting for interview? -->
                </div>
                <div>
                    Key Outcome Achieved:
                    <div>
                        <div>1.Part of the team that services one of the biggest GLCs in Malaysia</div>
                        <div>2.Organises a feedback mechanism for interns to let PwC know how to improve their internship programme.</div>
                    </div>
                    <!-- Q(1-5)How important are Key Outcome Achieved when you are shortlisting for interview? -->
                </div>
            </div>
        </div>

        <div>
            <div>
                Abu Chong Tax Advisory #boldthis
                <div>Tax advisory service for startups</div>
                <!--Smaller font in relative to previous and proceeding Div -->
                <div>Ampang, Selangor</div>
            </div>
            <div>
                <div>Intern</div>
                <div>Department: General</div>
                <div>July 2017 - September 2017</div>
            </div>
            <div>
                <div>
                    Key Learnings:
                    <div>
                        <div>1.I learned the importance of Microsoft Excel & Word as I was asked to put some hardcopy data into
                            digital data.</div>
                        <div>2.I learned that tax advisory is Malaysia is totally dependant on the latest tax structure. The ultimate
                            goal for any tax advisor is to reduce unnecessary tax payment without breaking the law.</div>
                    </div>
                </div>
                <div>
                    Key Outcome Achieved:
                    <div>
                        <div>1.Digitalised the documents related to customers' case history and the firm human resource documentation.</div>
                        <div>2.Part of the team that secured 2 new clients for the firm by pitching our corporate deck.</div>
                    </div>
                </div>
                <!-- Q(RadioButton): Which of this info is more important when you are shortlisting for interview? 
				Key Learnings
				Key Outcome Achieved
				Equally important -->
            </div>
        </div>

        <div>
            <!--Front End wise, please distinguish this from the first 2 working experience -->
            <div>
                Majlis Perwakilan Pelajar Universiti Malaya #boldthis
            </div>
            <div>
                <div>Treasurer</div>
                <div>September 2017 - August 2018</div>
            </div>
            <div>
                <div>
                    Key Activity:
                    <div>
                        <div>1.Manage the accounting and finances of the association, including bookkeping and financial report.</div>
                        <div>2.Find and meet potential sponsors to get money into the organisation for our events and programmes.</div>
                    </div>
                </div>
            </div>
            <!-- Q(RadioButton): Would you consider this experience as part of working experience?
			Yes it is part of working experience
			No this is not part of working experience -->
        </div>
    </div>
</div>

<!--Section: References-->
<div>
    <h1>References</h1>
    <div>
        <div>
            <div>xxxx xxxxxx (Unlock to see name)
                <!-- Q(1-5):How important it is that you see the full name of referee when you are shortlisting for interview? -->
            </div>
            <div>Senior Associate, PwC</div>
            <div>Candidate was a proactive intern that is always eager to be given any task or assignment. Candidate also showed
                huge interest on the application of what he learned in university to the real world. Based on the group task
                given, candidate showed his ability to work in a group despite his obvious preference to work alone.
            </div>
        </div>
        <div>
            <div>xxxx xxxxxx (Unlock to see name)</div>
            <div>Lecturer, Universiti Malaya</div>
            <div>Candidate is a hardworking student with a huge passion in taxation. Based on candidate's coursework, candidate
                showed...(Unlock to see all)
                <!-- Q(1-5):How important it is that you see the full comment by referee when you are shortlisting for interview? -->
            </div>
        </div>
    </div>
    <!-- Q(Radio): Not having referee at this stage will not affect how I view this Jobseeker.
	Yes
	No -->
    <!-- Q(Open):What will help make you trust the referee comments above? -->
</div>

<!--Section: Skills-->
<div>
    <h1>Skills</h1>
    <div>
        <h4>Hard Skills</h4>
        <div>
            Microsoft Excel
            <div>See my portfolio: (Logo of Excel. Hyperlink target blank)
                <!-- Q(1-5):How important is hardskill portfolio when you are shortlisting for interview? -->
            </div>
        </div>
        <div>
            Microsoft Powerpoint
            <div>Self-rating:(logo: 4 out of 5 starts)
                <!-- Q(1-5):How important is hardskill self-rating when you are shortlisting for interview? -->
            </div>
        </div>
        <div>
            Microsoft Word
            <div>Training Includes:
                <div>University Malaya Microsoft Bootcamp</div>
                <div>Coursera: Microsoft Word short course
                    <!-- Q(1-5):How important is hardskill training history when you are shortlisting for interview? -->
                </div>
            </div>
        </div>
        <!-- Q(1-5):How important is Hard Skills info when you are shortlisting for interview? -->
    </div>
    <div>
        <h4>Soft Skills</h4>
        <div>
            Watch me sell a ballpen in 1 minute!
            <div>
                (Youtube logo)
            </div>
            <!-- Q(Radio):Does video of candidate selling a ballpoint helps you determine his/her speaking ability?
			Yes
			No -->
            <!-- If answer is no, show openfield with label: Please suggest what can help you determine his/her speaking ability? -->
        </div>
        <div>
            Read my email to ask for a presentation slot!
            <div>
                The unique selling point of my product is ...(Click to see more) - (Link to target blank)
            </div>
            <!-- Q(Radio):Does email of candidate asking for presentation slot helps you determine his/her writing ability?
			Yes
			No -->
            <!-- If answer is no, show openfield with label: Please suggest what can help you determine his/her writing ability? -->
        </div>
        <div>
            Read about how I solved a conflic with a friend!
            <div>
                In order to move forward from the fight, the first step I took is to...(Click to see more) - (Link to target blank)
            </div>
            <!-- Q(Radio):Does example of candidate solving past social conflict helps you determine his/her conflic-solving ability?
			Yes
			No -->
            <!-- If answer is no, show openfield with label: Please suggest what can help you determine his/her conflict-solving ability? -->
        </div>
        <div>
            Read my analysis on this chart
            <div>
                (Photo of a graph)
                <div>
                    Based on the graph, the main takeaway is that sales have been...(Click to see more) - (Link to target blank)
                </div>
            </div>
            <!-- Q(Radio):Does written analysis of a chart helps you determine his/her data analysis skills?
			Yes
			No -->
            <!-- If answer is no, show openfield with label: Please suggest what can help you determine his/her data analysis ability? -->
        </div>
        <div>
            Read my creative answer to "How will you create value of an umbrella?"
            <div>
                The first step is to make my umbrella unique. How I proposed to do this is by...(Click to see more) - (Link to target blank)
            </div>
            <!-- Q(Radio):Does written answer of candidate helps you determine his/her creative thinking ability?
			Yes
			No -->
            <!-- If answer is no, show openfield with label: Please suggest what can help you determine his/her creative thinking ability? -->
        </div>

        <!-- Q(1-5 for each line below):Which of these soft skills are important when you are shortlisting for interview?
		Spoken Communication Skill
		Written Communication Skill
		Conflic-Solving Skill
		Data Analysis Skill
		Creative Thinking Skill
		Negotiation Skills
		 -->
        <!-- Q(Open): Is there any other soft skill you would like to know when you are shortlisting for interview? (Open field) -->
    </div>
</div>

<!--Section: Personality-->
<div>
    <h1>Personality</h1>
    <div>
        <div>
            <h4>Personality 1 MBTI</h4>
            <div> As an ISTJ, candidate is a practical and rational. Candidate is always the reliable one in any team.
                <!-- Q(1-5):How important is MBTI Personality summary when you are shortlisting for interview? -->
            </div>
            <div>
                <div>Introvert</div>
                <!-- Q(1-5):How important is MBTI Personality type when you are shortlisting for interview? -->
                <div>90%</div>
                <!-- Q(1-5):How important is MBTI Personality type score when you are shortlisting for interview? -->
            </div>
            <div>
                <div>Sensing</div>
                <div>65%</div>
            </div>
            <div>
                <div>Thinking</div>
                <div>80%</div>
            </div>
            <div>
                <div>Judging</div>
                <div>51%</div>
            </div>
        </div>
        <div>
            <h4>Personality 2 Customised</h4>
            <div>
                <div>Desk Monkey
                    <!-- Q(1-5):How important is Customised Personality when you are shortlisting for interview? -->
                </div>
                <div>90%</div>
                <div>Candidate prefers to work on a desk over going out to do sales pitch. The interaction with machine and computer
                    is way more appealing than with human being.
                    <!-- Q(1-5):How important is Customised Personality explanation when you are shortlisting for interview? -->
                </div>
            </div>
            <div>
                <div>Loves Pattern</div>
                <div>70%</div>
                <div>While creativity might not be candidate's strongest suite, candidate does love patterns. Candidate prefers
                    to look at chart and graph while finding useful meaning out of them.</div>
            </div>
            <div>
                <div>Meticulous</div>
                <div>50%</div>
                <div>Candidate believes strongly in "I would rather be late than missing out something ." Candidate is meticulous
                    about every tiny details in their life and work.</div>
            </div>
            <div>
                <div>Money Controller</div>
                <div>40%</div>
                <div>Candidate is not scared to take the responsibility to handle and manage money for others. Candidate is prudent
                    and believes that trust is hard to gain but easy to lose.</div>
            </div>
        </div>
        <!--UI Notes:
			1.The 2 parent divs should be side by side
			2.For each parent div, it should be divided into 4 quartiles (2x2) with general/summary at the top of the 4 quartiles (For personality 1 mbti)-->
        <!-- Q(Radio):Which of these Personality profile do you prefer when you are shortlisting for interview?
		Must be MBTI (Left Side)
		MBTI is slightly better (Left side)
		Both are equally important
		Customised Personality type is slightly better (Right side)
		Must be Customised Personality type(Right side)
		I don't need Personality information -->
    </div>
</div>

<!--Section: Personal Preferences-->
<div>
    <h1>Personal Preferences</h1>
    <div>
        <div>
            Strongly prefers traditional working hours to flexible working hours
        </div>
        <div>
            Can work anywhere in Malaysia
        </div>
        <div>
            Prefers big company with more than 100 workers to smaller/startup size companies
        </div>
        <div>
            Prefers hardwork with minimal work-life-balance to balanced work-life culture
        </div>
        <div>
            Strongly prefers official reporting structure to flexible & self-empowered KPI
        </div>
    </div>
    <!-- Q(1-5 for each of the lines below): Which of the above helps you when you are shortlisting for interview?
	Working hours preference
	Location preference
	Company size preference
	Company culture preference
	Reporting Structure Preference -->
    <!-- Q(Open): Please let us know any other personal preference information that is helpful when you are shortlisting for interview (Open field) -->
</div>

<!--Section: Jobtivity-->
<div>
    <h1>Jobtivity</h1>
    <div>
        <div>
            <div>
                <h4>Knowledge</h4>
                <div>Acquired more knowledge than <em>80%</em> of other jobseekers</div>
                <div>Consists of activites that help candidate gain a new knowledge such as reading a book or article, watching
                    an education youtube video, attending talks and seminars, etc.</div>
                <!-- Q(1-5):How important is Knowledge Jobtivity when you are shortlisting for interview? -->
            </div>
            <div>
                <div>
                    <h6>Finance</h6>
                    <div>Top Relevant Jobtivity
                        <div>Today, I learned about people using bitcoin as a way to crowdsource their financing need. Based on
                            the article...</div>
                        <div>www.example.com</div>
                    </div>
                </div>
                <div>
                    <h6>Business Management</h6>
                    <div>Top Relevant Jobtivity
                        <div>From chapter 6 titled "Innovating a monster", I learned about how big corporation can ensure that
                            they are always innovating to stay ahead. Among proposed actions are...</div>
                        <div>Book: Innovation in a Digital Age by Mike Felman</div>
                    </div>
                </div>
                <div>
                    <h6>Automotive</h6>
                    <div>Top Relevant Jobtivity
                        <div>I find the tedtalk interesting because it explained how car still has a role to play in a world that
                            focuses on public transportation. The future trend with regards to automotive...</div>
                        <div>www.example.com</div>
                    </div>
                </div>
                <!-- Q(1-5):How important is the top 3 Knowledge of candidate when you are shortlisting for interview? -->
            </div>
        </div>


        <div>
            <div>
                <h4>Personal Interests & Hobbies</h4>
                <div>Pursuing their interests more actively than <em>60%</em> of other jobseekers</div>
                <div>Consists of activites that help candidate pursue their own interests such as writing, painting and photography
                    as well filling up their idle time with their hobbies such as gaming and going to events</div>
                <!-- Q(1-5):How important is Personal Interests & Hobbies Jobtivity when you are shortlisting for interview? -->
            </div>
            <div>
                <div>
                    <h6>Writing</h6>
                    <div>Top Relevant Jobtivity
                        <div>Today, I added a new blogpost about how to make sure young people like me to care about their spending
                            and savings. There are a lot of initiatives out there for personal finance but I think most of
                            them are not attractive. </div>
                        <div>www.myblogpost.com</div>
                    </div>
                </div>
                <div>
                    <h6>Brain Games</h6>
                    <div>Top Relevant Jobtivity
                        <div>Today I beat my highscore for Memory on the app Peak. My effort to have more quality sleep must have
                            been efficient!</div>
                        <div>(Add photo of any summary score of mobile game with the word memory)</div>
                    </div>
                </div>
                <div>
                    <h6>Researching</h6>
                    <div>Top Relevant Jobtivity
                        <div>Today I did some reseach on restaurants in Malaysia. Someone wanted to know whether small restaurants
                            in Malaysia are surviving more than 2 years. I learned of another useful research source which
                            is...</div>
                    </div>
                </div>
                <!-- Q(1-5):How important is the top 3 interest & hobbies of candidate when you are shortlisting for interview? -->
            </div>
        </div>


        <div>
            <div>
                <h4>Organisational Strength</h4>
                <div>Hone their organisation skills more actively than <em>80%</em> of other jobseekers</div>
                <div>Consists of team activities of which the candidates play a functional role (such as being a treasurer or
                    a secretary) or general role (such as project lead).</div>
                <!-- Q(1-5):How important is Organisational Stength Jobtivity when you are shortlisting for interview? -->
            </div>
            <div>
                <div>
                    <h6>Bookkeeping</h6>
                    <div>Top Relevant Jobtivity
                        <div>After the event today, I had to complete the account for the event. This includes the neccessary
                            spending related directly and indirectly to the event. I also presented the current account summary
                            to the President and the Vice Chancellor
                        </div>
                    </div>
                </div>
                <div>
                    <h6>Team Management</h6>
                    <div>Top Relevant Jobtivity
                        <div>As I was entrusted to lead the fundraising team for our annual dinner, I had to assign 4 of my team
                            members to different corporate targets. I learned that based on our current ability, it is best
                            to group into team of two people instead of having 4 different teams</div>
                    </div>
                </div>
                <div>
                    <h6>Leadership</h6>
                    <div>Top Relevant Jobtivity
                        <div>Today, I was given the floor manager role for our corporate talk. I had to lead a team of 3 people
                            on making sure the run of events went smoothly. There were some arguments that required me to
                            step up, and I believe leaders must not avoid tough intervention</div>
                    </div>
                </div>
                <!-- Q(1-5):How important is the top 3 Organisational Strength of candidate when you are shortlisting for interview? -->
            </div>
        </div>

        <div>
            <div>
                <h4>Social</h4>
                <div>Candidate is active in socialising more than <em>20%</em> of other jobseekers</div>
                <div>Consists of candidate social activities which involves friends or strangers. This includes playing sports,
                    attending social functions and networking with top individuals</div>
                <!-- Q(1-5):How important is Social Jobtivity when you are shortlisting for interview? -->
            </div>
            <div>
                <div>
                    <h6>Gaming</h6>
                    <div>Top Relevant Jobtivity
                        <div>Played with Warcraft with a few friends from university. Good game but I never wouldve known them
                            if not for this game. We are thinking of a startup idea one day!</div>
                    </div>
                </div>
                <div>
                    <h6>Concert</h6>
                    <div>Top Relevant Jobtivity
                        <div>Finally, got to see Radiohead in Kuala Lumpur. I reconnected with some of my high school friends
                            who love Radiohead as well. What annoyed me today? The traffic management system at the concert.
                            It is 2017 already!</div>
                    </div>
                </div>
                <div>
                    <h6>Networked with Managing Partner of Ernst & Young Malaysia</h6>
                    <div>Top Relevant Jobtivity
                        <div>Went to Young Corporate Malaysians' event today. After the event, managed to chat with the guest
                            speaker, Rauf Rashid on career opportunity in EY. Braved myself to ask for his namecard and I
                            got it! Will email him later today</div>
                    </div>
                </div>
                <!-- Q(1-5):How important is the top 3 Social Activity of candidate when you are shortlisting for interview? -->
            </div>
        </div>

        <div>
            <div>
                <h4>Other top Jobtivities</h4>
            </div>
            <div>
                <div>
                    <h6>Volunteering</h6>
                    <div>Top Relevant Jobtivity
                        <div>This is my fifth time volunteering at Old Folks' home. I connected again with Uncle Xin, who opened
                            up and shared about his only son. Today was very meaningful. Definitely not a wasted Sunday morning.
                            </div>
                    </div>
                </div>
                <div>
                    <h6>Selling</h6>
                    <div>Top Relevant Jobtivity
                        <div>Helped a friend to sell his extra tickets to the Muse concert later. I found out that it is so easy
                            to use Carousel, I might use it after this!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Q(1-5): How important is Jobtivity when you are shortlisting for interview? -->
    <!-- Q(Open): What other activity that fresh graduates might do which you find useful when you shortlist them for interview (3 open fields) -->
</div>